:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bc-white:#fff;
    --pd:.5em;
    --ts:.5s;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /*background-image: linear-gradient(to right ,rgb(20,147,220),rgb(17,54,71))*/background-image: linear-gradient(to right ,rgba(17, 39, 71, 0.856),rgb(17, 39, 71));
    color: #fff;
}

nav{
    top:0;
    position: fixed;
    width: 100%;
    height: 10%;
    background: rgb(0, 38, 255);
    z-index: 1;
}

nav ul{
    float: right;
    list-style: none;
    display: block;
    margin-right: 5em;
    margin-top: -1.5em;
}

nav h1{
    color: #fff;
    margin-top: .7em;
    margin-left: 1em;
    font-weight: bold;
    font-size: 20pt;
    cursor: pointer;
}

nav img{
    background-color: #fff;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    
}

nav ul li{
    float: left;
    margin-left: 2em;
    cursor: pointer;
}

nav ul li a{
    color: white;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
}

nav img:hover{
    background-color: #cccccccb;
}

nav ul li a:hover{
    color: #cccccccb;
}

div.container{
    padding-top: 9em;
    padding-bottom: 9em;
    color: #fff;
    text-align: center;
    align-items: center;
}

a{
    text-decoration: none;
}

#dropdown{
    color: #fff;
    margin: 0;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 320px;
    height: 100%;
    display: none;
    background: blueviolet;
    padding: 60px 0 40px 1px;
    transition: .1s;
}

#dropdown ul{
    width: 100%;
    height: 100%;
    list-style: none;
}

ul li.myHidden{
    margin-left: 2.5em;
    width: 100%;
}

/*Configuration of hover of his lis */
ul li.myHidden:hover{
    background-color: #cccccc5b;
} 
/*Configuration of his a that contain the text*/
ul li.myHidden a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20 4%;
    line-height: 40px;
    margin-top: .1em;
    margin-left: 3em;
}

/*It`s the configuration of menu of li*/
.myHidden{
    color: #fff;
    font-size: 24pt;
    cursor: pointer;
}

/*His configuration of hover*/
.myHidden:hover{
    background-color: rgb(240, 248, 255); 
}


.visible{
    display: block;
}

form.control div.form-control ul li a{
    text-decoration: none;
}

form.control div.form-control ul li a:hover{
    text-decoration: underline;
}

.wrapper{
    position: relative;
    max-width: 42em;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-weight: bold;
    display: flex;
    color: black;
    margin-bottom: .5em;
}

form.control{
    padding:2em;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
}

input[type=text],input[type=password],input[type=number],input[type=date]{
    text-indent: 1em;
    background: #fff;
}

div.form-control h1{
    color: rgba(0, 0, 255, 0.973);
    margin-bottom: 1em;
}

.welcome-msg{
    margin-bottom: 2em;
}

div.input-box{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
}

div.input-box select,div.input-box input{
    width: 100%;
    height: 2.2em;
    border-radius: .3em ;
    border:1px solid #ccc;
}

div.input-box button{
    position: absolute;
    margin-left: -3em;
    width: 3em;
    height: 2.2em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

div.input-box button#add{
    background-color: rgb(98, 0, 255);
    border: rgb(98, 0, 255);
}

div.input-box button.remove{
    background-color: rgb(0, 174, 255);
    border: rgb(0, 174, 255);
}

div.input-box input[type=submit]{
    background-color: rgb(0, 119, 255);
    color: #fff;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    border-radius: .2em ;
    width: 100%;
    height: 2.2em;
    border: 2px solid rgb(0, 119, 255);
    transition: .5s;
}

div.input-box input[type=submit]:hover{
    background: none;
    color: rgb(0, 119, 255);
}

footer{
    color: #fff;
    text-align: center;
    display: block;
    font-size: 14pt;
    padding-top: 3em;
    padding-bottom: 4em;
    margin-top: 5em;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color:rgba(0, 0, 0, 0.39);
}

.table{
    margin-top: 5em;
    margin-bottom: 5em;
}

.table table{
    border-spacing: 0;background-color:rgba(0, 0, 255, 0.678);margin-left: auto;margin-right: auto;border-radius: .5em;width: 98%;
}

table tbody tr td,table thead tr th{
    width: 30em;height: 3em;border-bottom: 1px solid #000;
}

table tbody tr td.students,table thead tr th.students{
    text-align: left;margin-left: 1em;padding-left: 2em;width: 5em;
}

table tbody tr td.left,table thead tr th.left{
    text-align: left;padding-left: 2em;width: 10em;
}

table tbody tr td.right,table thead tr th.right{
    text-align: right;padding-right: 1em;text-align: center;
}

.btn-primary{
    background-color: var(--bs-primary);
    color: var(--bc-white);
    padding: var(--pd);
}

.btn-danger{
    background-color: var(--bs-danger);
    color: var(--bc-white);
    padding: var(--pd);
    cursor: pointer;
}

.btn-warning{
    background-color: var(--bs-warning);
    color: var(--bc-white);
    padding: var(--pd);
}

/*User*/

#user_photo{
    float:left;
    margin-left:.3em;
    border:1px solid #000;
    background-color:rgba(0, 0, 255, 0.678);
    padding:1em;
}

.user_photo{
    margin-top:3em;
    padding:1em;
}